body{
    margin:0;
    padding:0;
    font-family:Arial,Helvetica,sans-serif;

    background:linear-gradient(135deg,#eef6ff,#f8fbff,#ffffff);

    color:#1e293b;
}

.container{
    max-width:950px;
    margin:50px auto;
    padding:50px;

    background:#ffffff;

    border-radius:30px;

    box-shadow:0 20px 60px rgba(0,0,0,.12);

    text-align:center;
}

.profile{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #D4AF37;
    box-shadow:0 0 25px rgba(212,175,55,.6);
    margin-bottom:25px;
}

h1{
    font-size:60px;
    color:#d4af37;
    margin-bottom:10px;
}

h2{
    color:17365d;
    font-size:28px;
    margin-bottom:25px;
    font-weight:400;
}

p{
    color:#555;
    line-height:1.9;
    font-size:18px;
}

a{
    display:inline-block;
    margin:12px;
    padding:14px 32px;
    text-decoration:none;
    background:#D4AF37;
    color:#08121f;
    border-radius:40px;
    font-weight:bold;
    transition:.3s;
}

a:hover{
    background:f8fafc;
    transform:translateY(-3px);
}

@media(max-width:768px){

.container{
    margin:20px;
    padding:25px;
}

.profile{
    width:170px;
    height:170px;
}

h1{
    font-size:34px;
}

h2{
    font-size:22px;
}

p{
    font-size:17px;
}

}
img{
    max-width:100%;
}

.profile{
    display:block;
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
   margin:10px auto 30px;
}
.teamlogo{
    display:block;
    width:140px;
    border-radius:20px;
    margin:20px auto;
}
.button{

background:linear-gradient(135deg,#FFD54F,#F4B400);

color:#1b1b1b;

font-weight:bold;

box-shadow:0 10px 25px rgba(255,193,7,.35);

}

.button:hover{
    transform:scale(1.08);
}
.footer{
    margin-top:80px;
    padding:20px;
    text-align:center;
    color:#bdbdbd;
    font-size:12px;
    border-top:1px solid rgba(255,255,255,0.15);
}
.navbar{
    display:flex;
    justify-content:center;
    gap:70px;
    padding:25px;

    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.navbar{
    display:flex;
    justify-content:center;
    gap:70px;
    padding:5px 0;
    margin-top:-10px;
    margin-bottom:10px;
    background:transparent;
}
.navbar a{
    color:#17365d;
    font-size:21px;
    font-weight:bold;
    text-decoration:none;
}

.navbar a:hover{
    color:#d4af37;
}
.card{

background:#f8fbff;

border:1px solid #d9e7ff;

border-radius:25px;

padding:30px;

transition:.35s;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}
.card{
    width:230px;
    padding:20px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,215,0,0.25);
    border-radius:20px;
    text-align:center;
    transition:0.3s;
}

.card:hover{

transform:translateY(-8px);

border-color:#d4af37;

box-shadow:0 15px 35px rgba(212,175,55,.25);

}

.card h3{
    color:#FFD700;
    margin-bottom:12px;
}

.card p{
    color:#ddd;
    font-size:15px;
    line-height:1.6;
}
